[submodule "plugins/gongsconfig"]
	path = plugins/gongsconfig
	url = https://gitee.com/cloudlakenet/gongsconfig.git
	branch = master
[submodule "plugins/bfcommon"]
	path = plugins/bfcommon
	url = https://gitee.com/cloudlakenet/bfcommon.git
	branch = master
[submodule "plugins/bfui5"]
	path = plugins/bfui5
	url = https://gitee.com/cloudlakenet/gongsconfigbfui5.git
	branch = master
[submodule "plugins/approvalflow"]
	path = plugins/approvalflow
	url = https://gitee.com/cloudlakenet/approvalflow.git
	branch = master
