[submodule "plugins/bf-demo"]
	path = plugins/bf-demo
	url = https://gitee.com/cloudlakenet/bf-demo.git
	branch = master
[submodule "plugins/bfui5"]
	
	path = plugins/bfui5
	
	url = https://gitee.com/cloudlakenet/bfui5.git
	
	branch = master
[submodule "plugins/bfcommon"]
	path = plugins/bfcommon
	url = https://gitee.com/cloudlakenet/bfcommon.git
[submodule "plugins/drools"]
	path = plugins/drools
	url = https://gitee.com/cloudlakenet/drools.git
